## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / JetBrains
.idea/

## VS Code
.vscode/

## macOS
.DS_Store

## Logs
*.log

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
minibank.db*
